*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.pokedex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.pokemon {
    flex: 0 1 50%;
    text-align: center;
    margin-bottom: 20px;
}

.poke-id {
    color: #666;
}

.poke-name {
    margin: 3px 0px 6px 0px;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
}

.poke-type-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.poke-type {
    display: inline-block;
    width: 75px;
    margin-left: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #fff;
    font-size: .75em;
    line-height: 1.8;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.poke-type.normal {
    background-color: #aa9;
}

.poke-type.fire {
    background-color: #f42;
}

.poke-type.water {
    background-color: #39f;
}

.poke-type.electric {
    background-color: #fc3;
}

.poke-type.grass {
    background-color: #7c5;
}

.poke-type.ice {
    background-color: #6cf;
}

.poke-type.fighting {
    background-color: #b54;
}

.poke-type.poison {
    background-color: #a59;
}

.poke-type.ground {
    background-color: #db5;
}

.poke-type.flying {
    background-color: #89f;
}

.poke-type.psychic {
    background-color: #f59;
}

.poke-type.bug {
    background-color: #ab2;
}

.poke-type.rock {
    background-color: #ba6;
}

.poke-type.ghost {
    background-color: #66b;
}

.poke-type.dragon {
    background-color: #76e;
}

.poke-type.dark {
    background-color: #754;
}

.poke-type.steel {
    background-color: #aab;
}

.poke-type.fairy {
    background-color: #e9e;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .pokemon {
        flex: 0 1 25%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .pokemon {
        flex: 0 1 20%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .pokemon {
        flex: 0 1 16.667%;
    }
}
